.sidebar{
	display: block;
}
ul li:hover {
	/* Transition for hovers */
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	margin-left: -20px;
	padding-left: 30px;
}
.tab_index .nav > li > a:hover, .tab_index .nav > li > a:focus{
	font-weight: bold;
	text-decoration: none;
  	background-color: rgba(150,150,150,1);
  	color: #fff;
  	font-size: 16px;
}
.tab_index ul li {
	font-weight: bold;
}
.form-styles
{
    margin-top: 10px;
    padding: 0;
}
.form-styles div{
	font-size: 12px;
}
.form-styles div label{
	text-align: left !important;
}
.panel-footer.form-footer {
	font-size: 12px;
}
.form-footer div {
	margin-top: 10px;
	padding: 5px;
	display: inline-block;
}
.ui-grid{ 
	width:100% !important; 
}
#modalBusquedas .ui-widget{
	font-size: 12px;
}
.negrilla{
	font-weight: bold;
	color: #000;
}
.equipos_medios{
	font-size: 10px;
	margin-top: 20px;
}
.equipos_medios thead tr th{
	text-align: center !important;
	margin: 0px;
}
.equipos_medios tbody tr td{
	text-align: center !important;
	margin: 0px;
	padding: 5px;
}
.equipos_medios tbody tr td input[type=text]{
	height: 30px;
}
#tab_informe input,label,select{
	font-size: 12px;
	height: 32px;
}
#tab_informe label{
	padding-left: 0px;
	text-align: left;
}
#tab_informe input[type=radio]{
	margin-left: 0px;
	margin-top: 5px;
	height: 20px;
}
#tab_informe .form-group{
	margin-bottom: 8px;
}
@media (max-width: 768px) {
	.panel-footer.form-footer {
		text-align: center;
	}	
}
