.sidebar{
	display: block;
}
ul li:hover {
padding: 0px!important;
}
.tab_index .nav > li > a:hover, .tab_index .nav > li > a:focus{
	font-weight: bold;
	text-decoration: none;
  	background-color: rgba(150,150,150,1);
  	color: #fff;
  	font-size: 16px;
}
.tab_index ul li {
	font-weight: bold;
}
.form-styles
{
    margin-top: 10px;
    padding: 0;
}
.form-styles div{
	font-size: 12px;
}
.form-styles div label{
	text-align: left !important;
}
.panel-footer.form-footer {
	font-size: 12px;
}
.form-footer div {
	margin-top: 10px;
	padding: 5px;
	display: inline-block;
}
.ui-grid{ 
	width:100% !important; 
}
#modalBusquedas .ui-widget{
	font-size: 12px;
}
.negrilla{
	font-weight: bold;
	color: #000;
}
.equipos_medios{
	font-size: 10px;
	margin-top: 20px;
}
.equipos_medios thead tr th{
	text-align: center !important;
	margin: 0px;
}
.equipos_medios tbody tr td{
	text-align: center !important;
	margin: 0px;
	padding: 5px;
}
.equipos_medios tbody tr td input[type=text]{
	height: 30px;
}
#tab_informe input,label,select{
	font-size: 12px;
	height: 32px;
}
#tab_informe label{
	padding-left: 0px;
	text-align: left;
}
#tab_informe input[type=radio]{
	margin-left: 0px;
	margin-top: 5px;
	height: 20px;
}
#tab_informe .form-group{
	margin-bottom: 8px;
}
#lista_empresas table thead th{
	text-align: center;
}
.ui-widget-content{
	z-index: 9999999999 !important;		
		
	
}
.ui-menu .ui-state-focus,
.ui-menu .ui-state-active {
	margin: -1px;
	*color: red!important;
	border:none;
	
	
}
.ocultar{
	display: none;
}


@media (max-width: 768px) {
	.panel-footer.form-footer {
		text-align: center;
	}	
}

 
        .ui-widget-content
        {
            border: 5px solid black;
            color: #222222;
            background-color: red!important;
        }
        .ui-widget
        {
            font-family: Verdana,Arial,sans-serif;
            font-size: 15px;
        }
        .ui-menu
        {
            display: block;
            float: left;
            list-style: none outside none;
            margin: 0;
            padding: 2px;
        }
        .ui-autocomplete
        {	
        	background: #EEEEEE!important;
            cursor: default;
            position: absolute;
        }
        .ui-menu .ui-menu-item
        {
            clear: left;
            float: left;
            margin: 0;
            padding: 0;
            width: 100%;
        }
        .ui-menu .ui-menu-item a
        {
            display: block;
            padding: 3px 3px 3px 3px;
            text-decoration: none;
            cursor: pointer;
            
        }
        .ui-menu .ui-menu-item a:hover
        {
            display: block;
            
            text-decoration: none;
            color: White;
            cursor: pointer;
            background: #2E2D32;
        }
        .ui-widget-content a
        {
            color: #222222;
        }


